<h3>JS data</h3>

<div id="symptoms-area"><span class='colheader'>Your reactions are positively correlated with:</span></div>
<div id="no-symptoms-area"><span class='colheader'>Your reactions are negatively correlated with:</span></div>


<h3>Hard-coded data</h3>

<div><span class='milk'>Milk: </span><span class='milk yes'><%= @milk_yes %></span></div>
<div><span class='eggs'>Eggs: </span><span class='eggs yes'><%= @eggs_yes %></span></div>
<div><span class='peanuts'>Peanuts: </span><span class='peanuts yes'><%= @peanuts_yes %></span></div>
<div><span class='tree_nuts'>Tree Nuts: </span><span class='tree_nuts yes'><%= @tree_nuts_yes %></span></div>
<div><span class='soy'>Soy: </span><span class='soy yes'><%= @soy_yes %></span></div>
<div><span class='wheat'>Wheat: </span><span class='wheat yes'><%= @wheat_yes %></span></div>
<div><span class='fish'>Fish: </span><span class='fish yes'><%= @fish_yes %></span></div>
<div><span class='shellfish'>Shellfish: </span><span class='shellfish yes'><%= @shellfish_yes %></span></div>
<div><h4>No symptoms:</h4></div>
<div><span class='milk'>Milk: </span><span class='milk no'><%= @milk_no %></span></div>
<div><span class='eggs'>Eggs: </span><span class='eggs no'><%= @eggs_no %></span></div>
<div><span class='peanuts'>Peanuts: </span><span class='peanuts no'><%= @peanuts_no %></span></div>
<div><span class='tree_nuts'>Tree nuts: </span><span class='tree_nuts no'><%= @tree_nuts_no %></span></div>
<div><span class='soy'>Soy: </span><span class='soy no'><%= @soy_no %></span></div>
<div><span class='wheat'>Wheat: </span><span class='wheat no'><%= @wheat_no %></span></div>
<div><span class='fish'>Fish: </span><span class='fish no'><%= @fish_no %></span></div>
<div><span class='shellfish'>Shellfish: </span><span class="shellfish no"><%= @shellfish_no %></span></div>